<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Admin Login | Hospital</title>      
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <nav class="navigation" style="height:90px;">
    <div class="container-fluid" style="display: flex;">
        <div class="navigation__column left" style="width:30%;"></div>
        <div class="navigation__column center" style="width:40%;">
            <div class="header__logo">
                <a class="ps-logo" href="#"style="padding-top: 15px; display: inline-block; max-width: 150px; line-height: 55px;">
                    <img src="images/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="navigation__column right" style="width:30%;"></div>
    </div>
</nav>
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <form name="hospitaladminform" style="width:350px;margin:auto" id="adminloginForm" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()" #userForm="ngForm"> 
              <h2 style="text-align: center;margin: 15px 0px;">Admin Login</h2>
              
              <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" type="email" placeholder="Email Address" name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              </div>

              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email is invalid</div>
              </div>
              
              <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Password" name="password" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                minlength="8">
              </div>
              <div *ngIf="submitted && f.password.errors" >
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">
                  Password must be at least 8 characters
                </div>
              </div>

              <button  [disabled]="loading" class="btn btn-dark btn-custom" type="submit">Login</button>

              
              
              <div class="alreadyuser">New User? <a  [routerLink]="['/register']" >SignUp</a></div>
          </form>
        </div>
    </div>
</section><!--/form-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/admin.js" ></script>
</body>
</html>
