<head>
	<meta charset="UTF-8" />
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"/> -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/> -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css"> --> 

</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light hospital-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hi Admin</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link navbar-tabs" aria-current="page" (click)="openTab('mailnews')" id="mailnews"><i class="fas fa-envelope-open-text"></i><div>Send News Letter</div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navbar-tabs" aria-current="page"  (click)="openTab('Patients')"><i class='fas fa-user'></i><div>Patients</div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navbar-tabs" aria-current="page" (click)="openTab('SubAdmin')" ><i class='fas fa-user-plus'></i><div>Sub Admin</div></a>
                </li>
              <li class="nav-item">
                <a class="nav-link navbar-tabs" aria-current="page" (click)="openTab('Clinic')" ><i class="fas fa-clinic-medical"></i><div>Clinic</div></a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-tabs" aria-current="page" (click)="openTab('Logout')" ><i class='fas fa-sign-out-alt'></i><div>Logout</div></a>
              </li>
            </ul>
        </div>
    </nav>

</body>

