<nav class="navbar sticky-top navbar-expand-lg navbar-light hospital-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hi Sub Admin</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link navbar-tabs" aria-current="page" href="/doctor"><i class="fas fa-stethoscope"></i><div>Doctor</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-tabs" aria-current="page" href="/subadminnursehome"><i class="fas fa-user-nurse"></i><div>Nurse</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-tabs" aria-current="page" href="/appointment"><i class="fas fa-notes-medical"></i><div>Appointment</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-tabs" aria-current="page" href="/logout"><i class='fas fa-sign-out-alt'></i><div>Logout</div></a>
          </li>
        </ul>
    </div>
</nav>
